@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Precios</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Nuestros Precios</h1>
      <h6>Los precios estan en soles</h6>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Basico</h4>
          </div>
          <div class="card-body">
                            <h1 class="card-title pricing-card-title">$16<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ver videos anticipados del canal</li>
              <br />
              <br />
              <br />
                                <br />
                                <br />
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Donar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Regular</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ver los videos anticipados del canal</li>
              <li>Recibir un saludo de las integrantes y profesionales del podcast </li>
                                <br />
                                <br />
                                <br />
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Donar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
             <h1 class="card-title pricing-card-title">$25<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ver videos con anticipacion</li>
              <li>Recibir saludos y materiales promocionales del canal</li>
              <li>Acceso Prioritario para consultas con integrantes del podcast</li>
              <li>Poder visitar el set del pocast y ser parte del mismo</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Donar</button>
          </div>
        </div>
      </div>
    </div>

    </main>

</div>


    
  </body>
</html>
