    <main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album del Podcast</h1>
                <p class="lead text-body-secondary">Aqui encontraras contenido pregrabado del podcas.</p>
             
            </div>
        </div>
    </section>

    <div class="album py-2 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/13.png" style="height:200px"></img>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <div class="col">
                                </div>
                                <a class="btn btn-primary" href="https://drive.google.com/file/d/1Q6ekDTj1FeysG5rnowzeD3S2GcrkVYWL/view?usp=drive_link"> ver video</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/12.png" style="height:200px"></img>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <div class="col">
                                </div>
                                <a class="btn btn-primary" href="https://drive.google.com/file/d/1pvYTjOZYzn6QqUCsFpuitGLtXw1qW9gf/view?usp=sharing"> ver video</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/11.png" style="height:200px"></img>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>
                                <div class="col"> 

                                </div>
                                <a class="btn btn-primary" href="https://drive.google.com/file/d/1yYPph8AaJ9A5LeWG_upig2xi8G2kr4p6/view?usp=drive_link"> ver video</a>

                            </div>
                        </div>
                    </div>
                </div>

   

              
            </div>
        </div>
    </div>

</main>

